<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://jonesazurecloudapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jonesazurecloudapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jonesazurecloudapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jonesazurecloudapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureCloudDataEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jonesazureclouddata.database.windows.net;Initial Catalog=AzureCloudData;User ID=dbadmin;Password=SPisGreat!;Application Name=EntityFramework" Name="Data Source=tcp:jonesazureclouddata.database.windows.net;Initial Catalog=AzureCloudData;User ID=dbadmin;Password=SPisGreat!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AzureCloudAppWeb.Models.AzureCloudDataEntities, AzureCloudAppWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureCloudDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AzureCloudDataModel.csdl|res://*/Models.AzureCloudDataModel.ssdl|res://*/Models.AzureCloudDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:jonesazureclouddata.database.windows.net;Initial Catalog=AzureCloudData;User ID=dbadmin;Password=SPisGreat!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>0af210ae-c1a5-4a59-887b-6674d70ca41b</DefaultValue>
      <Value>0af210ae-c1a5-4a59-887b-6674d70ca41b</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSecret">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
      <Description>Value for ClientSecret here.</Description>
      <DefaultValue>wEtFg02EObKbGO0N3CornGQhfvpQF4mx3mPYmwOFxvI=</DefaultValue>
      <Value>wEtFg02EObKbGO0N3CornGQhfvpQF4mx3mPYmwOFxvI=</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
</Project>